@inherits LayoutComponentBase

<audio id="notification" src="/media/notification.mp3" />
<MudThemeProvider Theme="_currentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />
<AuthorizeView>
    <NotAuthorized>
        <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="height: 100vh;">
            <MudPaper Elevation="25" Class="pa-8" Style="width: 500px;">
                <CascadingValue Value="hubConnection">
                    @Body
                </CascadingValue>
            </MudPaper>
        </MudContainer>
    </NotAuthorized>
    <Authorized>
        @(LoadDataAsync())
        <MudLayout RightToLeft="@_rightToLeft">
            <MudAppBar Elevation="25">
                <MudAvatar Image="@CustomIcons.LogoUrl" Style="height:50px; width:50px;"> </MudAvatar>
                <MudText Typo="Typo.h6" Class="ml-4">Collabile</MudText>
                <MudToolBar DisableGutters="true">
                    <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" OnClick="@((e) => DrawerToggle())" Class="ml-3" />
                </MudToolBar>
                <MudSpacer />
                    <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                        <MudDivider Vertical="true" FlexItem="true" DividerType="DividerType.Middle" Class="mx-4 my-5" />
                        <MudMenu EndIcon="@Icons.Filled.KeyboardArrowDown" Label="Support" Color="Color.Inherit" Dense="true" Direction="Direction.Right" OffsetY="true">
                            <MudMenuItem Link="https://www.youtube.com/channel/UCHXfV0ENFtcM-rBEe3FyvAg" Target="_blank">Youtube</MudMenuItem>
                            <MudMenuItem Link="https://www.linkedin.com/in/rsverma333" Target="_blank">LinkedIn</MudMenuItem>
                            <MudMenuItem Link="https://codewithrsv.com/" Target="_blank">Website</MudMenuItem>
                        </MudMenu>
                        <MudTooltip Text="Toggle right-to-left/left-to-right">
                            <MudIconButton Icon="@Icons.Material.Filled.FormatTextdirectionRToL" Color="Color.Inherit" OnClick="@((e) => RightToLeftToggle())" />
                        </MudTooltip>
                        <MudTooltip Text="Toggle Dark Mode">
                            <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="Color.Inherit" OnClick="@((e) => DarkMode())" />
                        </MudTooltip>
                        <MudTooltip Text="Fork Repository">
                            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/Rsverma/Collabile" Target="_blank" />
                        </MudTooltip>
                    </MudHidden>
                    <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
                        <MudMenu Icon="@Icons.Filled.Settings" Color="Color.Inherit" Dense="true" Direction="Direction.Right" OffsetY="true">
                            <div class="px-2">
                                <MudTooltip Text="Toggle Dark Mode">
                                    <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="Color.Inherit" OnClick="@((e) => DarkMode())" />
                                </MudTooltip>
                                <MudTooltip Text="Fork Repository">
                                    <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/Rsverma/Collabile" Target="_blank" />
                                </MudTooltip>
                            </div>
                            <MudMenuItem Link="https://www.youtube.com/channel/UCHXfV0ENFtcM-rBEe3FyvAg" Target="_blank">Youtube</MudMenuItem>
                            <MudMenuItem Link="https://www.linkedin.com/in/rsverma333" Target="_blank">LinkedIn</MudMenuItem>
                            <MudMenuItem Link="https://codewithrsv.com/" Target="_blank">Website</MudMenuItem>
                        </MudMenu>
                    </MudHidden>
                    <MudMenu Direction="_rightToLeft ? Direction.Right : Direction.Left" OffsetX="true" Dense="true" Class="mt-1 ml-4">
                        <ChildContent>
                            <UserCard Class="mt-n2" />
                            <MudDivider Class="mb-2" />
                            <MudListItem Text="Account" Href="/account" Icon="@Icons.Material.Outlined.Person" />
                            <MudListItem Text="Logout" Icon="@Icons.Material.Filled.Logout" OnClick="Logout" />
                        </ChildContent>
                    </MudMenu>
            </MudAppBar>
            <MudDrawer @bind-Open="_drawerOpen" Elevation="25" ClipMode="DrawerClipMode.Always">
                <NavMenu />
            </MudDrawer>
            <MudMainContent>
                <MudContainer MaxWidth="MaxWidth.False" Class="mt-4">
                    <CascadingValue Value="hubConnection">
                        @Body
                    </CascadingValue>
                </MudContainer>
            </MudMainContent>
        </MudLayout>
    </Authorized>
</AuthorizeView>